.top-nav{
    height: 45px;;
    background-color: #333333;
}

.currency{
    padding-top: 10px;
    color: #999999;
    display: inline-block;
    font-size: 0.8rem;
    float: left;
}

.log-menu{
    padding-top: 10px;
    color: #999999;
    list-style-type: none;
    font-size: 0.8rem;
    float: right;
}

.log-menu > ul > li{
    display: inline;
    padding-right: 1rem;
}

@media (min-width: 1200px){
    .log-menu > ul > li{
        padding-right: 5rem;
    }
}

.log-menu > ul > li > a{
    text-decoration: none;
    color: #999999;
}
.log-menu > ul > li > a:hover{
    color: white;
}

.dropdown-menu > li > a{
    text-decoration: none;
    color: #999999;
}

.log-menu > ul > li > a > i{
    padding-right: 0.7rem;
}

.cart{
    padding-top: 10px;
    color: white;
    width: 150px;
    height: 45px;
    text-align: center;
    background-color: #00c8c8;
    font-size: 0.8rem;
}

@media (max-width: 600px){
    .hidden-sm{
        display: none;
    }
}

.cart>a{
    text-decoration: none;
    color: white;
}

.cart > a > i{
    padding-right: 15px;
}