.top-nav{
    height: 45px;;
    background-color: #333333;
}

.currency{
    padding-top: 10px;
    color: #999999;
    display: inline-block;
    font-size: 0.8rem;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 7rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 0.8rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.log-menu{
    padding-top: 10px;
    color: #999999;
    list-style-type: none;
    font-size: 0.8rem;
    float: right;
}

.log-menu > ul > li{
    display: inline;
    padding-right: 1rem;
}

@media (min-width: 1200px){
    .log-menu > ul > li{
        padding-right: 5rem;
    }
}

.log-menu > ul > li > a{
    text-decoration: none;
    color: #999999;
}
.log-menu > ul > li > a:hover{
    color: white;
}

.dropdown-menu > li > a{
    text-decoration: none;
    color: #999999;
}

.log-menu > ul > li > a > i{
    padding-right: 0.7rem;
}

@media (max-width: 600px){
    .hidden-sm{
        display: none;
    }
}

.nav-menu{
    font-size: 0.8rem;
}

.logo{
    font-size: 1.5rem;
    font-family: MontserratRegular;
}

@media (max-width: 360px){
    .logo{
        font-size: 1rem;
    }
}

.logo-2{
    font-family: MontserratBold;
}

.dropdown-img > p {
    font-family: MontserratBold;
    font-size: 1.2rem;
    color: #fff;
    background-color: #212529;
    margin: 1rem;
}

@media (max-width: 385px){
    .dropdown-img > p{
        font-size: 0.8rem;
    }  
}

.mansdropdown{
    -webkit-box-shadow: 1px 10px 26px 8px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 10px 26px 8px rgba(0,0,0,0.15);
    box-shadow: 1px 10px 26px 8px rgba(0,0,0,0.15);
}

@media (min-width: 769px){
    .mansdropdown{
        min-width: 20rem;
    }  
}

.back-ground{
    height: 25rem;
    width: 100%;
    background-color: #999999;
    background: 
        linear-gradient(
            rgba(51, 51, 51, 0.5), 
            rgba(51, 51, 51, 0.5)
        ),
        url("/img/photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbo-text{
    padding-top: 10rem;
    color: #fff
}

.bold{
    font-family: MontserratBold;
}

.jumbo-text > h1{
    font-size: 3rem;
}
.jumbo-text > p{
    font-size: 2rem;
}

@media (max-width: 330px){
    .jumbo-text > p{
        font-size: 1.5rem;
    }
}

@media (max-width: 330px){
    .jumbo-text{
        padding-top: 5rem;
    }
}


.intro{
    margin-top: 3rem;
}

.intro > h2 {
    font-family: MontserratBold;
    text-transform: uppercase;
    font-size: 1.1rem;
}

.intro > h3 {
    text-transform: uppercase;
    font-size: 1.1rem;
}

.intro > p {
    font-size: 0.9rem;
}

.intro > img {
    width: 100%;
    height: auto;
}